In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
from keras.models import load_model
from collections import deque
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
import pytz
import argparse
import pickle
import sqlite3

In [33]:
df_orders = pd.read_csv("/content/drive/MyDrive/customer_orders.csv")
df_payments = pd.read_csv("/content/drive/MyDrive/payments.csv")

In [34]:
conn = sqlite3.connect(':memory:')
df_orders.to_sql('customer_orders', conn, index=False, if_exists='replace')
df_payments.to_sql('payments', conn, index=False, if_exists='replace')

15000

In [36]:
query = """
SELECT *
FROM customer_orders
LIMIT 5;
"""  # Replace '...' with a valid SQL query. For example, to select all columns from the 'customer_orders' table, you can use 'SELECT * FROM customer_orders;'

result = pd.read_sql_query(query, conn)
print(result.head())

                               order_id  customer_id  order_date  \
0  d27d8139-a252-4402-9fd0-23a85592285e         2824  2023-05-28
1  31d3bfde-52dd-4d35-bca6-ee6bddf1eb60         5012  2022-05-23
2  c381a67d-68e6-4d40-912d-77cdc343036f         2679  2023-11-19
3  e967e883-7683-46de-9d68-5b0309644c68         2424  2021-11-21
4  2533e6a8-1b87-40f4-bf91-ca194cfeb54a         1488  2021-03-21

   order_amount                                   shipping_address  \
0         22.26  32181 Johnson Course Apt. 389, New Jamesside, ...
1        119.37     65423 Garcia Light, West Melanieview, AS 06196
2        341.58  84959 Janet Cape Apt. 413, South Joshuastad, G...
3        299.34             283 Steven Groves, Lake Mark, WI 07832
4         55.91   4139 Lewis Parks Suite 724, East Julie, ND 34939

  order_status
0      pending
1    delivered
2    delivered
3      shipped
4      shipped